.content{
  margin-top:7%;
  background-color: white;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 10px 19px 5px rgba(144, 148, 151, 0.64);
}

.nav {
  background-color: black;
  height: 60px;
  margin-top: 10%;
}

nav h3 {
  color: white;
  padding-left: 15px;
  font-family: 'Montserrat',
    sans-serif;
}
.credit{
  text-align:right;
}

.icons{
  padding-top:5px;
  height:55%;
  width:55%;
}

.icons:hover{
  cursor:pointer;
}

#track_rank{
  font-size:60px;
  font-family: 'Heebo',
  sans-serif;
  text-align:center;
}

#track_images{
  height:60%;
  width:60%;
}

#track_name{
  font-family: 'IBM Plex Sans',
  sans-serif;
  font-weight:bold;
}

#track_artist{
  font-family: 'IBM Plex Sans',
  sans-serif;
}

.song{
  padding-bottom:20px;
}

nav{
  padding-top:5px;
}

