<div class="nav">
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/argentina.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/brazil.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/china.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/colombia.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/cuba.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/flag.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/india.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/japan.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/kenya.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/nigeria.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/south-africa.png">
        </div>
        <div class="col-lg-1">
          <img class='icons' src="../../assets/icons/uk.png">
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div *ngFor="let track of tracks">
        <div class="song">
          <div class="row">
            <div class="col-lg-1">
              <h1 id='track_rank'>{{track.rank}}</h1>
            </div>
            <div class="col-lg-3">
               <img src="{{track.image_path}}" id='track_images' alt="An image representing the artist">
            </div>
            <div class="col-lg-4">
              <h3 id='track_name'>{{track.track_name}}</h3>
              <h4 id='track_artist'>{{track.artist_name}}</h4>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class='credit'>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</footer>