h1{
  color:white;
  text-align:left;
  font-size:20px;
  font-family: 'Montserrat',
  sans-serif;
}

h2{
  color:white;
  text-align: center;
  font-size:150px;
  font-family: 'Staatliches',
  cursive;
}

h3{
  color:white;
  text-align: center;
  font-size:20px;
  font-family: 'Staatliches',
  cursive;
}

h2:hover{
  cursor: pointer;
}

